.container {
    display: flex;
    flex-direction: column;
}

.columns-container {
    flex: 1;
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.size-columns {
    max-width: 50%;
    margin: 30px 0 30px 0;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.button-style {
    height: 50px;
    color: #ffffff;
    width: 90px;
    border: none;
    background-color: #ff3b3c;
    border-radius: 10px;
    cursor: pointer;

}

.button-style:hover {
    background-color: #383838;
}

.encuadre {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.input-number {
    height: 50px;
    padding: 5px;
    border-radius: 10px;
    width: 60px;
    box-sizing: border-box;
}

.product-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 22.27px;
    word-wrap: break-word;
    display: block;
}

.product-description {
    font-size: 12px;
    font-weight: 400;
    color: #383838;
    margin-bottom: 6px;
}

.product-images-block {
    max-width: 100%;
    overflow: hidden;
}

.product-images-block .thumbnail-container {
    max-width: 100%;
    overflow: hidden;
    margin: 5px;
}

.product-images-block .thumbnail-container img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    object-position: center center;
}

.thumbnail {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}

.product-description-block {
    flex: 1;
    margin-top: 30px;
}

.product-description-block .title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    word-wrap: break-word;
}

.product-description-block .selector fieldset {
    border: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.product-description-block .selector select {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 10px;
}

.product-description-block .selector select {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0 10px;
}

.product-description-block .description {
    font-size: 14px;
    line-height: 20px;
}

.product-checkout-block {
    flex: 1;
}


.product-price-block {
    display: flex;
    margin: 5px 0;
    justify-content: space-between;
    align-items: center;
}

.product-price-block .price {
    font-size: 22px;
    font-weight: 700;
    flex: 1;
}

.product-price-block .discount {
    font-size: 12px;
    font-weight: 700;
    color: #428f13;
}

.product-tax-policy {
    font-size: 11px;
    font-weight: 300;
}

.title-container span {
    display: block;
    color: white;
    font-weight: 700;
}

.title-container span:first-child {
    font-size: 40px;
}

.title-container span:last-child {
    font-size: 100px;
    line-height: 80px;
}


.product-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center center;
}

.product-info {
    padding: 20px;
    box-sizing: border-box;
}