.showcase__container {
    width: 1440px;
}

.lines-effect {
    display: flex;
    align-items: center;
    gap: 30px;
}

.lines-effect::after {
    display: block;
    content: '';
    width: 100%;
    height: 6px;
    background-color: #FD710F;
    border-radius: 6px;
}