.page {
  margin: auto;
  max-width: 1440px;
  max-height: 100svh;
}

.main {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items: center;
}

.products__grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}