.nav-category {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  width: 95%;
}

.nav-category__title {
  font-size: 46px;
}

.nav-category__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 25px;
}

.nav-category__item {
  list-style: none;
  border: 2px solid #FD710F;
  background-size: cover;
  position: relative;
}

.nav-category__item_name_figuras::after {
  background-image: url('../../../public/images/figures.jpg');
}

.nav-category__item_name_accesorios::after {
  background-image: url('../../../public/images/accesories.jpg');
}

.nav-category__item_name_indumentaria::after {
  background-image: url('../../../public/images/fabric.jpg');
}

.nav-category__item_name_manga::after {
  background-image: url('../../../public/images/books.jpg');
}

.nav-category__item::after {
  z-index: -1;
  position: absolute;
  content: '';
  inset: 0;
  opacity: .25;
  background-size: cover;
  border-radius: 50%;
}

:where(.nav-category__item,
.nav-category__link) {
  border-radius: 50%;
}

.nav-category__link {
  display: grid;
  place-items: center;
  width: 153px;
  height: 153px;
}